* {
  margin: 0;
  box-sizing: border-box;
  &::after,
  &::before {
    box-sizing: border-box;
  }
}
body {
  font-family: sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

button,
select,
textarea,
input {
  font: inherit;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img,
svg,
video,
canvas {
  max-width: 100%;
}
button {
  outline: none;
  border: none;
}
